{% extends "chat_app/main.html" %}
{% load static %}
{% block body %}
{% include "messages.html" %}
  <main class="layout layout--3">
    <div class="container">
      <!-- Topics Start -->
      <div class="topics">
        <div class="topics__header">          
          <h2>Browse Topics</h2>
        </div>
        <ul class="topics__list">
          <li><a href="{% url 'filter_room' action="all" %}" class="active">All <span>{{total_room}}</span></a></li>
          <li><a href="{% url 'filter_room' action="my_created_rooms" %}">Your created rooms <span></span></a></li>
          <li><a href="{% url 'filter_room' action="active_rooms" %}">Active rooms <span>{{total_active_rooms}}</span></a></li>
        </ul>
        <a class="btn btn--link" href="topics.html">More</a>
      </div>
      <!-- Topics End -->

      <!-- Room List Start -->
      <div class="roomList">
        <div class="mobile-menu">
          <form class="header__search" action="{% url 'room_search' %}" method="get">
            <label>
              <i class="fa-brands fa-searchengin"></i><input placeholder="Search for posts" />
            </label>
          </form>
          <div class="mobile-menuItems">
            <a class="btn btn--main btn--pill" href="{% url 'filter_room_mobile' %}">Browse Topics</a>
            <a class="btn btn--main btn--pill" href="{% url 'recent_activity' %}">Activities</a>
          </div>
        </div>
        <div class="roomList__header">
          <div>
            <h2>Student Hub</h2>
            <p>{{ total_room }} Rooms available</p>
          </div>
          <a class="btn btn--main" href="{% url 'create_room' %}">
            Create Room
          </a>
        </div>
    {% if rooms %}
    {% for room in rooms %}
        <div class="roomListRoom">
                <div class="roomListRoom__header">
                <a href="{% url 'profile' profile_id=room.host_profile.id %}" class="roomListRoom__author">
                    <div class="avatar avatar--small">
                    {% if room.host_profile.profile_image %}
                      <img src="{{ room.host_profile.profile_image.url }}" />
                    {% else %}
                      <img src="{% static 'images/default.jpeg' %}" alt="User Profile Image">
                    {% endif %}
                    </div>
                    <span>{{ room.host.first_name }}</span>
                    <p> (host) </p>
                </a>
                <div class="roomListRoom__actions">
                    <span>{{ room.updated }}</span>
                </div>
                </div>
                <div class="roomListRoom__content">
                <a href="{% url 'join_video-stream' room_id=room.id %}" style="color:#a3bb99;">{{ room.name }}</a>
                <p>
                   {{ room.description }}
                </p>
                </div>
                <div class="roomListRoom__meta">
                <a href="room.html" class="roomListRoom__joined"><i class="fa-solid fa-user-group"></i>{{ room.members.count }} Joined</a>
                <a href="{% url 'join_video-stream' room_id=room.id %}">
                  <p class="roomListRoom__topic">join</p>
                </a>
                {% if request.user == room.host %}
                  <a href="{% url 'edith_room' room_id=room.id %}">
                    <p class="roomListRoom__topic">edith</p>
                  </a>
                  <a href="{% url 'delete_room' room_id=room.id %}">
                    <p class="roomListRoom__topic">delete</p>
                  </a>
                {% endif %}
                </div>
                </div>
            {% endfor %}
            {% else %}
                <h1> no rooms currently. create one </h1>
            {% endif %}
            </div>
            <!-- Room List End -->

      <!-- Activities Start -->
      <div class="activities">
        <div class="activities__header">
          <h2>Are you studying? you should.</h2>
        </div>
    </div>
  </main>
{% endblock %}
